{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}
  

{% block content %}
  
  <!-- ............................ -->
  <!--  Contact Form section  -->   
  <!-- ............................ -->
    <section class="text-white body-font relative" id="contact">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-bold title-font mb-4">Contact Us</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Feel free to reach out to us! We're here to assist you with any inquiries or concerns. Let's connect and make your experience even better.</p>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="flex flex-wrap -m-2">
                <div class="p-2 w-full">
                    <div class="relative">
                    <label for="name" class="leading-7 text-sm">Name</label>
                    <input type="text" id="name" name="name" class="w-full bg-white focus:shadow-inner focus:shadow-gray-600 bg-opacity-40 rounded outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                    <label for="email" class="leading-7 text-sm">Email</label>
                    <input type="email" id="email" name="email" class="w-full bg-white focus:shadow-inner focus:shadow-gray-600 bg-opacity-40 rounded outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                    <label for="message" class="leading-7 text-sm">Message</label>
                    <textarea id="message" name="message" class="w-full bg-white focus:shadow-inner focus:shadow-gray-600 bg-opacity-40 rounded outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"></textarea>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <button class="flex mx-auto text-gray-900 font-bold bg-sky-300 border-0 py-2 px-8 focus:outline-none hover:bg-sky-200 rounded-full">Submit</button>
                </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %} 
{% endblock %}