{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}
  

{% block content %}
  
  <!-- ............................ -->
  <!--  Hero section  -->
  <!-- ............................ -->
  <section id="home" class="pt-24 text-white body-font bg-[url('https://document-export.canva.com/AuyYc/DAFRXPAuyYc/9/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20221108%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221108T115206Z&X-Amz-Expires=11507&X-Amz-Signature=634d4b7a9f8a7bc3a25316f0a91c2396f6472585caada100d2da8c8ca0e37a1d&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2008%20Nov%202022%2015%3A03%3A53%20GMT')] bg-cover bg-no-repeat">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="burger  lg:max-w-lg lg:w-full md:w-1/2 w-1/2 rounded-full lg:py-0 lg:px-12 py-6 px-6">
        <img class="w-full rounded" src="https://i.ibb.co/f8PmMtb/175-1754832-traditional-games-hardees-burger-png-kebab-burger-png-removebg-preview.png" alt="fast food hamburger images transparent @transparentpng.com">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-6xl text-3xl mb-4 font-medium">BIGI BURGER
          <br class=" lg:inline-block"> <span class="strock text-transparent font-bold"></span>
          <br class="hidden lg:inline-block">*SINCE 2020*
        </h1>
        <p class="mb-8 leading-relaxed text-gray-400">Bigi Burger is a leading online food ordering system that serves delicious burgers and mouth-watering sides. We have been proudly serving our customers since 2020, providing a convenient and delightful way to enjoy their favorite meals.</p>
        <div class="flex justify-center">
          <button class="inline-flex text-gray-900 font-bold hover:bg-sky-200 border-0 py-2 px-6 focus:outline-none bg-sky-300 rounded-full text-sm">Order Now</button>
        </div>
      </div>
    </div>
  </section>

  <!-- ............................ -->
  <!--  counter section  -->
  <!-- ............................ -->
    <section class="bg-gray-600 text-white body-font">
        <div class="container px-5 py-6 mx-auto">
        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 sm:w-1/4 w-1/2">
            <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">2.7K</h2>
            <p class="leading-relaxed text-white">Customers</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
            <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">1.8K</h2>
            <p class="leading-relaxed text-white">Testimonials</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
            <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">35</h2>
            <p class="leading-relaxed text-white">Locations</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
            <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">4</h2>
            <p class="leading-relaxed text-white">Products</p>
            </div>
        </div>
        </div>
    </section>

  <!-- ............................ -->
<!--  Order Process section  -->
<!-- ............................ -->
<section id="order" class="text-white body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-bold title-font mb-4">Order Process</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Ordering made easy in just 10 minutes!</p>
    </div>
    <div class="flex flex-wrap w-full">
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-sky-300 inline-flex items-center justify-center text-gray-800 relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-sky-400 mb-1 tracking-wider">Browse Our Menu</h2>
            Discover a diverse range of delicious dishes on our menu. From hearty burgers to refreshing beverages, we have something for everyone.
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-sky-300 inline-flex items-center justify-center text-gray-800 relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-sky-400 mb-1 tracking-wider">Select Your Order</h2>
            Once you've found your desired dishes, select them from the menu. Choose the perfect combination to satisfy your cravings.
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-sky-300 inline-flex items-center justify-center text-gray-800 relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <circle cx="12" cy="5" r="3"></circle>
              <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-sky-400 mb-1 tracking-wider">Place Your Order</h2>
            Ready to order? Add your selected items to the cart and proceed to the checkout. Your delicious meal is just a step away.
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-sky-300 inline-flex items-center justify-center text-gray-800 relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-sky-400 mb-1 tracking-wider">Prepare Your Order</h2>
            Our talented chefs will start preparing your order with the freshest ingredients. Your meal will be crafted with care and precision.
          </div>
        </div>
        <div class="flex relative">
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-sky-300 inline-flex items-center justify-center text-gray-800 relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-sky-400 mb-1 tracking-wider">Deliver Your Order</h2>
            Get ready to enjoy your meal! Our efficient delivery team will bring your order right to your doorstep. Bon appétit!
          </div>
        </div>
      </div>
      <img class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12" src="https://static1.anpoimages.com/wordpress/wp-content/uploads/2022/07/googleMapsTricksHero.jpg?q=50&fit=contain&w=1500&h=812&dpr=1.5" alt="step">
    </div>
  </div>
</section>


{% endblock %}

{% block scripts %} 
{% endblock %}