{% extends 'base.html' %}
{% load static %}
{% block title %}Payment Canceled{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card text-center p-5">
        <h2 class="font-weight-bold mb-4">Payment Canceled</h2>
        <p>Your payment was canceled. If you need assistance or have any questions, please feel free to contact us.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
